/************************************************ 
* Developed by: Arjun Dhakal
* Date: 2023-04-07
*************************************************/
/* ================================= Variables  */
:root {
  /*  default dark mode colors */
  --color-heavy: #14274e;
  --color-heavy-trans: #14274e8a;
  --color-heavy-trans-dark: #14274eb6;
  --color-medium: #394867;
  --color-light: #9ba4b4;
  --color-faint: #f1f6f9;
  --color-black: #1b262c;
  --color-white: #ffffff;

  /*  font familys */
  --font1: "Montserrat", sans-serif;
  --font2: "Roboto", sans-serif;
}

/* ================================= typography and color */
/* default margin/paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--color-light);
  font-family: var(--font1);
  line-height: 1.5;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.second-wrapper {
  width: min(95%, 1400px);
}
/* ================================= Title and Navigation bar */
.navbarLogoText {
  font-size: medium;
}
.navBarIcon,
.nav-item span {
  font-size: smaller;
}
.bgHeavy {
  background-color: var(--color-heavy);
}

/* padding: 0 2rem 3px 0; */
.bgHeavy a {
  color: var(--color-white);
}
.navbar-toggler {
  margin: 5px;
  border: none;
}
.navbar-toggler-icon {
  filter: brightness(200%);
}

/* .navBar {
  border-bottom: solid 1px var(--color-light);
} */

.videoContainer {
  margin: 0;
  padding: 0;
  position: relative;
  height: 80vh;
  z-index: -1;
}
#videoFile {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.titleText {
  position: relative;
  top: -35vh;
  margin: auto;
  text-align: center;
  background-color: var(--color-heavy-trans);
  color: var(--color-faint);
  border-radius: 1rem;
  padding: 1rem;
}

/* about */
#aboutMe {
  background-color: var(--color-heavy);
  color: var(--color-faint);
  padding: 2rem 0;
}

.myImage {
  background-color: var(--color-faint);
  border-radius: 14px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  filter: grayscale(40%);
}
/* Resume */
.articleContent {
  background-color: var(--color-heavy-trans-dark);
  color: var(--color-white);
  margin: 2rem auto 0;
  border-radius: 10px;
  padding: 1rem;
}

.skillSubTitle {
  padding: 0.25rem;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-faint);
}
.skillTopics p {
  margin: 0.5rem auto;
}

.academicTitle p {
  margin: 0.5rem auto;
}

.collegeLogo {
  background-color: var(--color-faint);
  border-radius: 5px;
  width: 40%;
}

.organizationLogo {
  background-color: var(--color-faint);
  border-radius: 5px;
  width: 20%;
}

.textBGonVideoDark {
  background-color: var(--color-heavy-trans-dark);
  color: var(--color-faint);
  margin-top: 0;
}

/* protfolio */

#portfolio {
  background-color: var(--color-heavy);
  color: var(--color-faint);
  padding: 2rem 0;
}
.projectImage {
  width: 90%;
  margin: 1rem;
  border-radius: 10px;
  border: solid 1px var(--color-light);
}
.projectTopic {
  font-size: medium;
  padding: 0.5rem 1rem;
}
.projectDesc {
  font-size: small;
  padding: 0 1rem;
}
.liveLink {
  position: relative;
}
/* contact  */
#contact {
  padding: 2rem 0;
}

.contactContent {
  background-color: var(--color-heavy-trans-dark);
  color: var(--color-white);
  margin: 2rem auto 0;
  border-radius: 10px;
  padding: 2rem;
}
.contactPara {
  margin-bottom: 3rem;
}
.contactIcon {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: var(--color-white);
}
.contactForm {
  color: var(--color-heavy);
}
.contactButtons {
  margin-top: 2rem;
}
/* footer */
.footer {
  background-color: var(--color-heavy);
  color: var(--color-faint);
  font-size: smaller;
}
/* success message page */
.msgContent {
  position: relative;
  top: -70vh;

  background-color: var(--color-heavy-trans-dark);
  color: var(--color-white);
  margin: 2rem auto 0;
  border-radius: 10px;
  padding: 2rem;
}

.msgFooter {
  background-color: var(--color-heavy);
  color: var(--color-faint);
  font-size: smaller;
  position: relative;
  top: -6vh;
}

@media screen and (max-width: 768px) {
  .skillSubWrapper {
    margin-bottom: 2.5rem;
  }
  .skillSubTitle {
    width: 50%;
  }
  .academicTitle {
    margin-bottom: 3rem;
  }
  .experienceTitle {
    margin-bottom: 3rem;
  }
  .organizationLogo {
    width: 25%;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .skillSubTitle {
    width: 80%;
  }
  .organizationLogo {
    width: 30%;
  }
}
